#content {
  min-width: 100vw;
  min-height: 100vh;

  padding: 40px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

#drawing {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  padding-bottom: 100px;
  box-sizing: border-box;

  z-index: -1;
}

#timer {
  color: white;
  background-color: #535bf2;

  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 20px;
  width: 70px;

  text-align: center;
}

#guess {
  background-color: whitesmoke;
  padding: 20px 30px 30px 30px;

  max-width: 400px;
  width: 100%;

  border-radius: 30px;

  /* box-shadow: rgba(0, 0, 0, 1) 0px 7px 29px 0px; */
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

#guess h3 {
  margin: 0 0 15px 0;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
}

#guess form {
  display: flex;
  flex-direction: row;
  align-items: middle;

  gap: 20px;
}
#guess form input {
  flex-grow: 2;
}
