#root {
  min-width: 100vw;
  min-height: 100vh;

  vertical-align: middle;

  position: relative;
}

#startPage,
#successPage,
#failurePage {
  height: 100vh;

  display: flex;

  justify-content: center;
  align-items: center;

  flex-direction: column;
}
